{{- define "subject" -}}
Someone sent you a Valentine!
{{- end -}}

{{- define "text" -}}
You got a Valentine's day card from somebody!
{{- end -}}

{{- define "html" -}}
You got a <strong>Valentine's day</strong> card from <em>somebody</em>!
{{- end -}}
