{{- define "subject" -}}
Merry Christmas!
{{- end -}}

{{- define "text" -}}
You got a Christmas card from somebody!
{{- end -}}

{{- define "html" -}}
You got a <strong>Christmas</strong> card from <em>somebody</em>!
{{- end -}}
